header {
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    padding: 0px 20px;
    text-align: center;
}

    .logo-title{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0px;
    }

    header h1 {
        margin-left: 10px;
        font-size: 24px;
        color: #536673; /* Renk paletinizden bir ton seçebilirsiniz */
        text-align: left; /* Başlığı sola yaslamak */
        ;
    }

    .logo-title img {
        height: 40px;
        width: auto;
        margin-left: 80px;

    }

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    /* background-color: #e6fb9a; */
    padding: 22px 10px;
    margin-right: -5px;
}

nav ul li a {
    color: #536673;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.heading-group {
    display: flex;
    gap: 20px; /* Başlıklar arasında boşluk */
    flex-wrap: wrap; /* Ekran daralırsa alta geçmelerine izin verir */
}